# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 2
charset = utf-8
spaces_around_operators = true
curly_bracket_next_line = false
indent_brace_style = Stroustrup
trim_trailing_whitespace = true

[.js]
quote_type = single